body {
    background-color: rgb(81, 0, 255);
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url('images/Screenshot (87).png');
}

.calculator {
    width: 350px;
    height: 400px;
    background-color: rgb(90, 19, 232);
    display: grid;
    grid-template-rows:30%;
    margin-top: 10%;
    border-radius: 30px;
}

.screen {
    width: 92%;
    height: 50%;
    background-color: rgb(90, 19, 232);
    margin-top: 10%;
    margin-left: 4%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.screen input{
    height: 92%;
    width: 98%;
    background-color: rgb(85, 243, 191);
    font-family: 'Calculator', sans-serif;
    color: black;
    font-weight: bold;
    font-size: larger;
    border-radius: 15px;
}

.work_area {
    display: grid;
    grid-template-columns: 65% 35%;
    padding: 16px;
}

.work_area button {
    width: 50px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.183);
    color: white;
    margin: 8px 1.5px;
}

.left_work_area button:hover {
    background-color: rgb(27, 26, 26);
}

.right_work_area button {
    background-color:rgb(240, 115, 6);
    font-weight: bold;
}

.right_work_area button:hover {
    background-color: rgba(240, 115, 6, 0.5);
}

@media screen and (max-width:320px) {
    .work_area button {
        width: 48px;
    }
}